{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load edc_dashboard_extras %}
{% load odk_dashboard_extras %}

{% load tz %}
{% load static %}

{% block extra-styles %}
	{{ block.super }}

{% endblock %}
​
{% block extra-scripts %}
    {{ block.super }}

{% endblock extra-scripts %}
​
{% block main %}
    <div class="panel panel-info" id="accordionExample">
    <div class="panel-heading">
    	<div class="btn-group">
	    	<a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    		<i class="fas fa-folder-open"></i>
	    		Archive forms <span class="caret"></span>
		  	</a>
		  	<ul class="dropdown-menu">
		  		{% for model_name in obj_dict.keys %}
		  		<li>
		  			<a class="dropdown-item" href="#model_{{forloop.counter}}" aria-controls="#model_{{forloop.counter}}" role="tab" data-toggle="tab">{{model_name}}</a>
		  		</li>
		        {% endfor %}
		  	</ul>
		</div>
    </div>
   	<div class="tab-content table table-responsive">
   		{% for folders in obj_dict.values %}
   				<table role="tabpanel" class="tab-pane fade in table table-condensed table-hover small" id="model_{{forloop.counter}}">
   					<thead>
   						<tr>
	                        <th width="100%">
	                            <small>
	                                 PARTICIPANT(S)
	                            </small>
	                        </th>
	                    </tr>
	                  </thead>
	                  <tbody>
	                  	{% for folder in folders %}
                   		{% with collapse_item=forloop.counter %}
	                    <tr>
	                        <td>
                                <button class="btn btn-link" data-toggle="collapse" data-target="#{{folder.verbose_name|remove_spaces}}{{collapse_item}}"
                                        aria-expanded="true" aria-controls="collapseVisit">
                                    <i class="fas fa-folder-open"></i>
                                    	<small>{{folder.subject_identifier}}</small>
                                    <i class="fas fa-chevron-right"></i>
                                </button>
	                        </td>
	                        <td>    
	                        </td>
	                        <td>       
	                        </td>
	                    </tr>
	                    <tr class="collapse table" id="{{folder.verbose_name|remove_spaces}}{{collapse_item}}">
	                    	<td>
	                    		<table class="table table-condensed table-hover">
		                    		<thead width="100%">
		                    			<tr>
		                    				<td width="70%">
		                    					<small>NAME</small>
		                    				</td>
		                    				<td>
		                    					<small>USER CREATED</small>
		                    				</td>
		                    				<td>
		                    					<small>DATE CREATED</small>
		                    				</td>
		                    			</tr>
		                    		</thead>
		                    		<tbody>
		                    			{% for item in folder.related_objects.all %}
		                    			<tr>
		                    				<td>
		                    					<i class="fas fa-file"></i>
		                    					<a href="{{item.image.url}}" data-toggle="lightbox" data-gallery="example-gallery" class="item">
			                                    	{{item.image.name}}
		                                		</a>
		                    				</td>
		                    				<td>
		                    					{{item.user_created}}
		                    				</td>
		                    				<td>
		                    					{{item.datetime_captured}}
		                    				</td>
		                    			</tr>
		                    			{% endfor %}
		                    		</tbody>	
                    			</table>
                    		</td>
                    	</tr>
                    	{% endwith %}
	                	{% endfor %}
	                  </tbody>
	               	</table> 
	            {% endfor %}
	         </div>
{% endblock main %}